## multichain cross-chain router Protocol
name: 'multichain run'

on:
  schedule:
    - cron: '*/10 * * * *'

jobs:
  bot:
    runs-on: ubuntu-latest
    steps:
      - name: 'check codes'
        uses: actions/checkout@master
      - name: 'Run multichain.sh' # 执行shell命令文件
        run: bash multichain.sh
