name: "fetch Ink-protocol Party Info"

on:
  schedule:
    - cron: "5 11 * * *"

jobs:
  bot:
    runs-on: ubuntu-latest
    steps:
      - name: "check env"
        uses: actions/checkout@master
      - name: "Run fetchInkPlayers.sh" # 执行shell命令文件
        run: bash fetchInkPlayers.sh
